entrypoint = "index.html"
modules = ["web", "nodejs-20", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
STRIPE_PREMIUM_MONTHLY_ID = "price_1T6zoHExNgORioBpkHFfppKN"
STRIPE_PREMIUM_ANNUAL_ID = "price_1T6zmiExNgORioBp78rqoHQF"
STRIPE_STARTER_TEAM_ID = "price_1T6zlYExNgORioBp06MwjAnO"
STRIPE_PRO_TEAM_ID = "price_1T700zExNgORioBp0eD0BZo1"
ADMIN_EMAIL = "kirk@servemasteracademy.ca"
SUPPORT_EMAIL = "support@servemasteracademy.ca"
HELLO_EMAIL = "hello@servemasteracademy.ca"
INFO_EMAIL = "info@servemasteracademy.ca"
GOOGLE_CLIENT_ID = "259760364257-rdc5nf11ovhk1b5l2mul34kgq71h1jbc.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
SMTP_HOST = "mail.privateemail.com"
SMTP_USER = "kirk_adamson@servemasteracademy.ca"
SMTP_PASS = "@#1jesus"
SMTP_PORT = "465"
JWT_SECRET = "8ac855866b99a339bd313d36a3d4d7798dea0ee71291d7f882c67f90515296b0f664fc5e97a9c6d37ea8ae075e70ff44"
BOOTSTRAP_KEY = "7beb57040b1b3bac112f90ee4db2f896c78d2f8ef894d31fb4a170e63c91d2fd"

[userenv.production]
APP_URL = "https://servemasteracademy.ca"
